/* Brandon Ezovski, 10/2/2025, this CSS style sheet is for the RISSBU website, styling simple elements like horizontal lines
links, h1s, and specific styles for select headings (#sphead) and paragraphs (p.center)
UPDATE: 10/9/2025, included more CSS styling options for assignment 6*/
body {
    font-family: Arial, sans-serif;
    font-display:auto;
    background-color: #0e1029;
}
hr{
    border: 3px solid #fff500;
}
/* h1s will be in Impact font (fantasy backup) with a larger size */
h1{
    font-family: Impact, fantasy;
    font-size: 55px;
    text-align: center;
    color: #0e014b
}
/* some paragraphs will be centered */
p.center{
    text-align: center;
}
/* some headings will be centered and navy blue to match the logo */
#sphead{
    text-align: center;
    color: #0e014b
}
/* link styling */
a {
    color: #540303;
}
a:visited{
    color: #000000;
}
a:hover{
    color: #09cbc5;
}
/*image margins*/
img{
  margin: 10px;
}
/*div elements for header, left align, and individual sections (heavily inspired by lab5)*/
div.header{
  overflow:hidden;
  background: #011c46;
  padding: 5px;
}
.header a{
  float: left;
  color:#ffd500;
  font-family:verdana;
  font-size:18px;
  text-decoration:none;
  padding:12px;
}

.header a:hover{
  color:rgb(155, 5, 197);
}
/*hilight current page within header*/
a.active {
  color:rgb(8, 95, 101);
  background-color: rgb(255, 238, 0);
}
div.header-right{
  float:right;
  margin:12px;
}
/*left column to wrap full page of content*/
div.left-col{
float:left;
padding-left:20px;
padding-right:20px;
}
/*card divider to split up individual sections*/
div.card{
  background-color:rgb(144, 153, 195);
  padding:20px;
  margin:20px;
}


div.playerCard{
  background-color:rgb(129, 173, 188);
  padding:20px;
  margin:20px;
}
.rankings-search {
    margin-top: 20px;
}

.rankings-search-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.rankings h3 {
    font-size: 1.4em;
}

.filter label {
    margin-right: 10px;
}
.characterImage {
  float:left;
  width:7.5%;
  padding-right: 20px;
  padding-bottom: 20px;
}
div.eventCard{
  background-color:rgb(111, 188, 251);
  padding:20px;
  margin:20px;
}
div .interestCard{
  float: right;
  background-color:rgb(236, 166, 255);
  width:10%;
  padding:20px;
  margin:20px;
}
.interestImage {
  float:center;
  width:100%;
}


/*for small screens*/
 @media only screen and (max-width: 600px) {
  div.header a {
    float:none;
    display:block;
    text-align: left;
    padding: 5px;
  }

  div.header-right{
    float:none;
  }

  div.left-col{
    width:100%;
  }
  div.right-col{
    width:100%;
  }
  div.card{
    font-size:30px;
    padding: 5px;
  }
  img{
    max-width: 100%;
    height:auto;
  }
  iframe{
    max-width: 100%;
    height:auto;
  }
}